body{

margin:0;
font-family:Arial;
background:#0b1d3a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
padding:30px;
border-radius:12px;
width:350px;

}

h1{

text-align:center;
margin-bottom:15px;

}

.clockBox{

text-align:center;
margin-bottom:15px;

}

#clock{

font-size:32px;
font-weight:bold;

}

#todayDate{

font-size:14px;
opacity:0.8;

}

.inputBox{

display:flex;
flex-direction:column;
gap:8px;
margin-bottom:15px;

}

input,select,button{

padding:8px;
border:none;
border-radius:6px;

}

button{

cursor:pointer;
background:#ff6ec7;
color:white;

}

ul{

list-style:none;
padding:0;

}

li{

display:flex;
justify-content:space-between;
background:rgba(255,255,255,0.1);
margin-bottom:8px;
padding:8px;
border-radius:6px;

}

.completed{

text-decoration:line-through;
opacity:0.6;

}

.high{

border-left:5px solid red;

}

.medium{

border-left:5px solid orange;

}

.low{

border-left:5px solid green;

}

.stats{

display:flex;
justify-content:space-between;
margin-top:10px;

}

.progressContainer{

height:8px;
background:#ccc;
border-radius:5px;
margin-top:8px;

}

#progressBar{

height:8px;
width:0%;
background:#00ffcc;
border-radius:5px;

}

.clearBtn{

margin-top:10px;
width:100%;
background:red;

}

.floating-icons{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;

}

.icon{

position:absolute;
font-size:30px;
animation:float 8s infinite linear;

}

.alarm{top:10%;left:20%;}
.calc{top:70%;left:10%;}
.pen{top:50%;right:10%;}
.book{top:20%;right:20%;}

@keyframes float{

0%{transform:translateY(0)}
50%{transform:translateY(-20px)}
100%{transform:translateY(0)}

}

.dark{

background:#020617;

}